[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "prettyPanelMatch"]
	path = prettyPanelMatch
	url = https://github.com/jacqpark/prettypanelmatch
